* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: indigo;
  color: #fff;
  padding: 4rem 4rem;
}
body,
button,
input,
textarea {
  font-size: 1rem;
}
a{
  text-decoration: none;
  color: hsl(111, 100%,75%);
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
input {
  padding: 1rem;
  font-size: 1.5rem;
}
.form-element {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 1.5rem;
}
button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: blueviolet;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.success {
  color: violet;
}
.error {
  color: red;
}
